.font{
    &-x{
        font-size:11px;
    }
    &-xsmall{
        font-size:12px;
    }
    &-small{
        font-size:13px;
    }
    &-medium{
        font-size:14px;
    }
    &-large{
        font-size:16px;
    }
    &-xlarge{
        font-size:22px;
    }
}

.font{
    &-bold{
        font-weight:600;
    }
}

.lh{
    &-list{
        @include lineheight(1.29);
    }
    &-normal{
        @include lineheight(0.71);
    }
    &-medium{
        @include lineheight(0.77);
    }
    &-high{
        @include lineheight(1.29);
    }

}