.display-ib{
    display:inline-block;
}
.display-b{
    display:block;
}
.display-f{
 display:flex;
}
.display-n{
    display:none;
}
.float-l{
    float:left;
}
.float-r{
    float:right;
}
.ta-left{
    text-align:left;
}


.blue-bg{
    background-color:$blue;
}
.red-bg{
    background-color:$bright-orange;
}
.img-bg{
    padding: 3px 5px 3px 6px;
    border-radius: 4px;
}

*{
    margin:0;
    padding:0;
    box-sizing:content-box;
}
.container{
    max-width:1400px;
    margin:0 auto;
    
}
a{
    text-decoration: none;
}
.top-p{
    margin-top:15px;
}
.height{
    height:70px;
   }

   
ul{
    list-style-type: none;
}

svg{
    width: 18px;
    height: 18px;
    
}
svg:focus{
    fill:$blue;
}
.arrow {
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left:120px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    display:none;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display:none;
  }
  .down-btn{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin:0;
  }
  .width{
      @include width(142px);
  }
