$primary-font: 'Source sans pro';
$black:#2b2c3a;
$button-background:linear-gradient(to right, #6b69f9, #6f6eff);
$bright-orange: #ff4738;
$blue:#6f6eff;
$grey: #9ca5ec0a;
$white:#ffffff;
$white-opa: #ffffff10;
$border-white:#d8d8d810;
$link-white:#ffffff50;
$active-background:linear-gradient(98deg, (#ffffff) 0%, (#ffffff) 94%);
$card:#ffffff04;
$button-white:#ffffff06;
$background:linear-gradient(119deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1));
$green:#24cb8d;
$bluecolor:rgba(156, 165, 236, 0.04);
