body{
    background-color:$white;
    color:black;
    font-family:$primary-font;

    .secondary-button{
        background-color:$blue;
        color:white;
    }
  
    .list-color{
        color:#292828;
    }
    .sidenav{
        background-color:#e9e7e7;
        div{
            @include border(1px,solid,#b4b2b2);
        }
    }
    a,.arrow-btn{
        color:#292828;
    }
    .element,.sub-element,.button,.lang-content,.lang-button{
       
        background-color:#e9e7e7;
    }
    .toggle__fill,.arrow-btn
    {
        @include borderline(1px,solid,#b4b2b2);
    }
 
    .border{
        @include border(1px,solid,#b4b2b2);
       }
    .dropdown-btn:focus{
        background-color:#c7c2c2;
        border-left:2px solid $blue;
    }
    .arrow{
        border-color: black;
        border-style:solid;
    }
    
}

body.dark-theme {
    background-color: $black;
    color:white;

    .secondary-button,.button{
        background-color: $white-opa;
    }
    .list-color{
        color:$link-white;
    }
    .sidenav{
    background-color: rgba(156, 165, 236, 0.04);
    div{
        @include border(1px,solid,$border-white);
    }
    }
    .element,.sub-element,.lang-content,.lang-button{
       background-color: $card;
    }
    .toggle__fill,.arrow-btn
    {
        @include borderline(1px,solid,$border-white);
    }
    .border{
        @include border(1px,solid,$border-white);
       }
    a,.arrow-btn,.drop-btn{
        color:white;
    }
    .dropdown-btn:focus{
        background-color:$card;
        border-left:2px solid $blue;
    }
    .arrow{
        border-color: white;
        border-style:solid;
    }
    
   
  
}