.main{
    @include width(1069px);
    height:840px;

    .header-main{
        padding:30px 45px 15px 55px;
        justify-content: space-between;
    nav{
       
        ul{
            border-right:$border-white;
            li{
                padding-right:30px;
            }
        }
        select{
            background-color:inherit;
            color:$white;
            option{
                background-color:inherit;

            }
        } 
    }

    .profile{
        a{
            span{
                padding-left:10px;
            }
           
        }
        .person{
            @include w-h(42px);
        }

        .details{
            width:180px;
            img{
                padding-right:10px;
            }
            p{
                padding-top:5px;
            }
            .status{
                color:$green;
            }
            p.status::before{
                content:".";
                @include w-h(1000px);
                background-color:$green;
                border-radius:50%;
            }
        }
    }
}

}