.sub-content{
    padding: 0 55px 0 55px;

    .sub-slide{
        margin-top:50px;
    }
   
    .sub-element{
        @include width(255px);
        margin-top:20px;
        .sub-img{
            margin-top:-30px;
            margin-right:20px;
        }
        .sub-division{
            padding:10px 15px 15px 15px;
            position:relative;
            p{
                margin-top:10px;
            }

            span{
                margin-right:10px;
                margin-left:10px;
            }
        }
    }
}